
.mess-block{
    background-color: rgb(248, 248, 248);
    width: 70% !important;
    display: flex;
    flex-direction: column;
}
.mess_header{
    height: 6%;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.mess_main{
    height: 88%;
    background-image:url("../../../background-chat.jpg");
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;

}
.mess_footer{
    height: 6%;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_field{
    overflow: auto;
    /* = Убираем увеличение */
    resize: none;
    width: 80%;
    height: 80%;

    /* = Добавим фон, рамку, отступ*/
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 8px;
    padding: 8px 0 8px 10px;
}
.send-button {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
}
.send-button img{
    height: 30px;
}
.mess-header_photo img{
    border-radius: 50% !important;
    object-fit: cover;
    width: 38px;
    height: 38px;
    margin-left: 16px;
    margin-right: 8px;
}
.empty-image{
    width: 28%;
    margin:auto;
    align-self: center !important;
    display: flex;
    pointer-events: none;
}
img{
    pointer-events: none;
}
.message-block{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.message{
    padding: 6px 7px 8px 9px;
    width: fit-content;
    margin-left: 8px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 4px 6px 7px 2px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 4px 6px 7px 2px rgba(34, 60, 80, 0.1);
    box-shadow: 4px 6px 7px 2px rgba(34, 60, 80, 0.09);
}

.message-block__my{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.message__my{
    padding: 9px 8px 7px 6px;
    width: fit-content;
    margin-right: 8px;
    border-radius: 10px;
    background-color: rgb(217, 253, 211);
    -webkit-box-shadow: 4px 6px 7px 2px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 4px 6px 7px 2px rgba(34, 60, 80, 0.1);
    box-shadow: 4px 6px 7px 2px rgba(34, 60, 80, 0.09);
    margin-left: 80%;
}


.message-photo{
    border-radius: 50% !important;
    object-fit: cover;
    width: 38px;
    height: 38px;
    margin-left: 16px;
    margin-right: 8px;
}