.header-fake{
    background-color: #009688;
    height: 7em;
    width: 100%;

}
.chat-box_container{
background-color: white;
    width: 90% !important;
    align-items: center;
    margin: 0 auto;
margin-top: -80px;
}
.chat-bg{
    background-color: rgb(227,226,222);
    height: 100vh;
}
