.header-fake{
    background-color: #009688;
    height: 7em;
    width: 100%;

}

.slog-main{

    width: 40px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.logo-status{
    display: flex;
    align-items: center;
}
.main-header p{
   margin-left: 8px;
    font-weight: bolder;
    font-size: 16px;
}

.chat-box_container{
background-color: white;
    width: 90% !important;
    max-height: 96vh;
    margin: -80px auto 0;
    font-family:'Roboto', sans-serif;
    display: flex !important;
    justify-content: stretch;
    padding: 0 !important;
}
.chat-bg{
    background-color: rgb(227,226,222);
    height: 100vh;
}
.text-form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top:1px solid rgba(0, 0, 0, 0.05) ;
    justify-content: space-between;
}

.chat-item{
    display: flex;
    align-items: center;
    height: 60px;
}
.chat-item:hover{
background-color: rgba(0, 0, 0, 0.05);
}

.chat-block{
    width: 30%;
    overflow: auto;
}
.chat-img img{
    border-radius: 50% !important;
    object-fit: cover;
    width: 40px;
    height: 40px;
}
.chat-img img{
    margin-right: 8px;
    margin-left:8px ;
}
.mess-block{
    width: 70% !important;
    display: flex;
    flex-direction: column;
}
.mess-header{
    height: 10%;
      }
.mess-main{
    height: 80%;
}
.mess-footer{
    height: 10%;
}



.bell{
    width: 15px;
    height: 15px;
}
.bell-slash{
    width: 18px;
    height: 18px;
}
.subscribe-btn{
    margin-right: 10%;
    width: 10%;
    cursor: pointer;
}
.name-form{

}
.name-zone{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}
.unread{
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.unread-block{
    background-color: rgb(37, 211, 102);
    color: white;
    border-radius:50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 10%;
}
.unread-zone{

}
.connections-status-green{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: green;
    margin-left: 6px;
}
.connections-status-red{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    margin-left: 6px;
}
.search{
    overflow: auto;
    resize: none;
    width: 96%;
    height: 80%;
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 8px;
    padding: 8px 0 8px 10px;
}

.search-block{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-button{
    width: 100% !important;
}